<h1>User schedules</h1>

<h2>
    <%= userprofile.firstname %>
    <%= userprofile.lastname %>
</h2>

<ul>
    <% for (let i = 0; i < schedules.length; i++) { %>
        <li>

            <%= weekDays[schedules[i].day] %>
            <%= schedules[i].start_at %>
            &ndash;
            <%= schedules[i].end_at %>
        </li>

    <% } %>
</ul>